vti_encoding:SR|utf8-nl
vti_author:SR|ACADEMIC\\BMC161703999
vti_modifiedby:SR|ACADEMIC\\BMC161703999
vti_timelastmodified:TR|27 Feb 2018 15:32:14 -0000
vti_timecreated:TR|27 Feb 2018 15:32:12 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Reel\\ Classics/Practical/Template.html Reel\\ Classics/Practical/Shop1.htm Reel\\ Classics/Practical/movie4.html Reel\\ Classics/Practical/0HEiqAsrVMQ.htm Reel\\ Classics/Practical/checkout.html Reel\\ Classics/Practical/Movie2.html Reel\\ Classics/Practical/Movie3.html Reel\\ Classics/Practical/Shop.htm Reel\\ Classics/Practical/Home.html Reel\\ Classics/Practical/About.html Reel\\ Classics/Practical/Shop.html Reel\\ Classics/Practical/managecart.html Reel\\ Classics/Practical/Movie.html index.html Reel\\ Classics/Practical/home22.html
vti_cacheddtm:TX|27 Feb 2018 14:32:14 -0000
vti_filesize:IR|770
vti_cachedlinkinfo:VX|S|images/bgOFF1.gif S|images/bgDIVIDER1.gif S|images/bgON1.gif
vti_cachedsvcrellinks:VX|NSUS|Reel\\ Classics/Practical/CSS/images/bgOFF1.gif NSUS|Reel\\ Classics/Practical/CSS/images/bgDIVIDER1.gif NSUS|Reel\\ Classics/Practical/CSS/images/bgON1.gif
